# WordPress uploads та кеш
public/wp-content/uploads/
public/wp-content/cache/
public/wp-content/litespeed/
public/wp-content/wc-logs/

# Логи та бекапи
*.log
*.sql
*.bak
*.zip
*.gz

# Системне
.DS_Store
Thumbs.db
public/shop/

# Shop - автогенеровані файли
public/shop/wp-content/uploads/
public/shop/wp-content/cache/
public/shop/wp-content/litespeed/
public/shop/wp-content/wc-logs/
public/shop/wp-content/ai1wm-backups/
public/shop/wp-content/debug.log
public/shop/wp-content/*.log
